/** @format */
$maincolor: #1a2771;
.forth-container {
  width: 100%;
  height: 100vh;
}
.forth-contents {
  padding: 0 8%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.forth-img {
  width: 70%;
  height: 85%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.forth-text {
  width: 70%;
  font-family: "Poppins", sans-serif;
  h1 {
    font-size: 2.7rem;
    color: $maincolor;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  span {
    display: block;
    width: 80%;
    font-size: 1.2rem;
    color: #1a2771;
    font-weight: 400;
    line-height: 1.8;
  }
}
.table-data {
  margin-bottom: 3rem;
  box-shadow: 0px 30px 40px #1a27711a;
  max-width: 30rem;
  padding: 0.8rem 0.6rem;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid rgba(211, 211, 211, 0);
  transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
  table {
    width: 90%;
    tr {
      td {
        text-align: right;
        color: #1a2771;
        padding: 0.3rem 1rem;
        font-size: 1rem;

        border-bottom: 1.5px solid #e3e3e3;
        border-right: 1.5px solid #e3e3e3;
      }
      .td-border-top {
        border-top: 1.5px solid #e3e3e3;
      }
      .td-noborder {
        text-align: left;
        border-right: 2px solid rgba(236, 236, 236, 0);
      }
    }
  }
  &:hover {
    border: 2px solid rgba(211, 211, 211, 0.521);
  }
}
@media screen and (max-width: 1500px) {
  .forth-contents {
    margin: 0 auto;
    padding: 0 6%;
  }
  .forth-img {
    width: 60%;
    height: 60%;
  }
  .forth-text {
    width: 90%;
    h1 {
      font-size: 2.5rem;
    }
    span {
      width: 90%;
    }
  }
}
