/** @format */
$whitecolor: #eee;
.contact-banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 15rem;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .contact-title {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 60%;

    h1 {
      font-family: "mainthin";
      font-size: 4rem;
      letter-spacing: 1.6px;
      margin-bottom: 0.65rem;
      color: #eee;
      font-weight: 200;
    }
    h4 {
      font-size: 1.1rem;
      color: rgb(240, 240, 240);
      font-weight: 300;
      margin-top: 0.7rem;
      letter-spacing: 0.5px;
      font-family: "Poppins", sans-serif;
    }
  }
}
.contact-container {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3rem;
  .contact-details {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 4%;
    width: 30%;
    justify-content: center;

    .detail {
      display: flex;
      flex-direction: row;
      margin-bottom: 8%;
      align-items: center;

      .contact_icon {
        color: #1a2771;
        height: 1.5rem;
        width: 2rem;
      }

      span {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        color: #1a2771;
        font-weight: 500;
      }
    }
  }

  .map {
    display: flex;
    justify-content: center;
    width: 35%;

    img {
      width: 350px;
      object-fit: cover;
      height: auto;
    }
  }

  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding-right: 2%;

    p {
      font-size: 1.18rem;

      color: #1a2771;
      text-align: right;
      line-height: 1.8;
      font-family: "Poppins", sans-serif;
    }
  }
}
